* {
	box-sizing: border-box; 
	outline:0px;
}

body {
	margin: 0;
	font-family: 'Open Sans', 'Sans Serif';
	font-weight: 400;
	font-size: 12pt;	

	
}
.sub{
	font-family: 'Playfair Display';
	font-style: italic;
	font-size: 14pt;
	font-weight: bold;
	color: #c19701;	
	width: auto;
	height: auto;
	margin-top: -10px;
	margin-bottom: -10px;
	letter-spacing:0.05em;

}
.tit{
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 18pt;
	font-weight: 900;
	text-transform: uppercase;
	color: #000;
	width: auto;
	height: auto;
	margin-bottom: 40px;
	position: relative;
	letter-spacing:0.05em;
}
.aLink > a{
	padding: 15px 50px;
	background-color: #c19701;
	text-decoration: none;
	color: #fff;	
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing:0.15em;

}
.aLink > a:hover{
	color: #fff;

}

a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: #c19701;	
}

/*---------------------------------------------------------------------- */
header{
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;
	height: 100%;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}
.pit{
	display: flex;
	justify-content: center;
	display: -webkit-flex;
}
.bg{
	width: auto;
	height: auto;
	position: absolute;
}
.arr{
	width: auto;
	height: auto;
	position: absolute;
	margin-top: -65px;
	cursor: pointer;

	-webkit-animation: mymove 0.6s ease infinite;
	-webkit-animation-play-state: paused;

	animation: mymove 0.6s ease infinite;
	animation-play-state: paused;

}
.arr:hover{
	-webkit-animation-play-state: running;
	animation-play-state: running;
}
@keyframes mymove {
	from{margin-top: -75px;}
	to {margin-top: -70px;}
}

@-webkit-keyframes mymove {
	from{margin-top: -75px;}
	to {margin-top: -70px;}
}


.content{
	padding-top: 20%; 
	padding-left: 200px; 

}
.content > .tit{	
	font-size: 30pt;
	color: #fff;
	line-height: 46pt;

}

.content > .sub{
	font-size: 20pt;
	margin-bottom: 14px; 

}
@media screen and (max-device-width: 480px ){
	header{
		width: 100%;
	}

	.content{
		padding-top: 20%; 
		padding-left: 200px; 

	}
	.content > .tit{	
		font-size: 30pt;
		color: #fff;
		line-height: 46pt;

	}

	.content > .sub{
		font-size: 20pt;
		margin-bottom: 14px; 
	}
}
/*---------------------------------------------------------------------- */
nav{
	height: 105px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10;

	-webkit-transition: height , background-color 0.3s;
	-moz-transition: height , background-color 0.3s;
	-ms-transition: height , background-color 0.3s;
	-o-transition: height , background-color 0.3s;
	transition: height , background-color 0.3s;

}
nav.shrink{
	height: 90px;
	background-color: #090909;

	-webkit-transition: height , background-color 0.5s;
	-moz-transition: height , background-color 0.5s;
	-ms-transition: height , background-color 0.5s;
	-o-transition: height , background-color 0.5s;
	transition: height , background-color 0.5s;

}

nav.shrink > #logo >img{
	width: 190px;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width  0.3s;

}
nav.shrink > .nav{
	padding: 14px 50px 10px 0;

	-webkit-transition: padding 0.2s;
	-moz-transition: padding 0.2s;
	-ms-transition: padding 0.2s;
	-o-transition: padding 0.2s;
	transition: padding  0.2s;

}
nav.shrink > .nav > #link{
	font-size: 14pt;

	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-ms-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size  0.2s;
}
nav.shrink > .nav > #lang{
	font-size: 12pt;

	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-ms-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size  0.2s;
}

#logo{
	width: 20%;
	height: auto;
	float: left;
	padding: 24px 0 24px 34px;
}
#logo > img{
	width: 250px;
	height: auto;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width  0.3s;
}

.nav{
	width: 80%;
	height: auto;
	float: right;
	padding: 18px 50px 20px 0;

	-webkit-transition: padding 0.2s;
	-moz-transition: padding 0.2s;
	-ms-transition: padding 0.2s;
	-o-transition: padding 0.2s;
	transition: padding  0.2s;
}

.nav > ul{
	float: left;
	list-style: none;
}
.nav > ul > li{
	display: inline-block;
}
.nav > ul > li > a{
	text-decoration: none;
	color: #fff;
}

.nav > #link {
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 16pt;
	font-weight: 900;
	text-transform: uppercase;
	float: right;
	letter-spacing:0.1em;

	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-ms-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size  0.2s;
}
.nav > #lang {
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 14pt;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding-top: 5px;
	float: right;
	letter-spacing:0.1em;

	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-ms-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size  0.2s;
}

.nav > #link > li > a{
	padding-left: 30px; 
	cursor:pointer;
}
.nav > #link > li > a:hover {
	color: #c19701;	
}
/*---------------------------------------------------------------------- */
#about{
	width: 100%;
	height: 620px;

}
#about >.nos{
	width: 50%;
	height: 100%;
	background-color: #efeeee;
	float: left;
	padding: 100px;	
}
#about >.nos-img > img{
	width: 50%;	
	height: 100%;
}
#about > .nos > .parr{
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 14pt;
	color: #313131;
}
/*---------------------------------------------------------------------- */
#services > .service{
	width: 100%;
	height: 400px;
	text-align: center;
}
#services> .service >  div{
	width: 25%;
	height: 100%;
	border: 3px solid #ededed;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;	
	float: left;
	cursor: pointer;

	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;

}

#services> .service >  div > img {
	width: auto;
	height: auto;
	top: 90px;
	margin-bottom: 120px;
	padding: 10px;
	position: relative;

	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;

}
.heading{
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 18pt;
	color: #bbbaba;
	font-weight: bold;
	position: relative;

}

.description{
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 16pt;
	color: #c19701;
	opacity: 0;
	margin: 0 auto;
	width: 80%;	

	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;

	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

#services> .service >  div:hover{
	border: 1px solid #ededed;
}
#services> .service >  div:focus {
	border: 4px solid #c19701;
}
#services> .service >  div:focus > .doc {
	content: url("../img/document_a.png");
	top: 20px;
	margin-bottom: 50px;
}
#services> .service >  div:focus > .fami {
	content: url("../img/family_a.png");
	top: 20px;
	margin-bottom: 50px;
}
#services> .service >  div:focus > .civ {
	content: url("../img/civil_a.png");
	top: 20px;
	margin-bottom: 50px;
}
#services> .service >  div:focus > .hou {
	content: url("../img/house_a.png");
	top: 20px;
	margin-bottom: 50px;
}

#services> .service >  div:focus > .heading {
	top: -30px;
	margin-bottom: 10px;
	color: #c19701;
}
#services> .service >  div:focus >.description {
	opacity: 1;

	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);

}

.hid{
	display: none;
}
.active{
	display: block;
}
/*----------------------------------------------------------------*/
#services > .serv-inf{
	width: 100%;
	height: 560px;
	display: inline-block;
	padding: 100px 100px 100px 100px;

}
#services > .serv-inf > div > .inf {
	width: 75%;
	height: auto;
	float: left;
}

#services > .serv-inf > div > .inf-img {
	width: 25%;
	height: auto;
	float: left;
	margin-top: 75px;
	position: relative; 
	z-index: -1;

}
#services > .serv-inf > div > .inf-img> img {
	float: right;

}

#services > .serv-inf > div > div > ul {
	list-style-type: none;
	margin-left: -38px;

}
#services > .serv-inf > div> div > ul > li {
	font-family: 'Open Sans', 'Sans Serif';
	font-weight: 400;
	font-size: 14pt;
	width: 33%;
	padding: 2% 2% 2% 3%; 
	float: left;
	background: url(../img/correct.png) no-repeat;
	background-position: 0px 24px;

}


/* ...................................................*/
#habitatge{
	height: 600px;
	width: 100%;
	z-index: 1;
	background-image: url('../img/fondo_casas.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top;

}
#habitatge > .idea , #habitatge > .habica{
	width: 50%;
	padding: 120px 100px 100px 100px;	
	float: left;
	text-align: center;

}
#habitatge > div > .habic{
	height: auto;
	width: 40%;

}
#habitatge > div > .ideali{
	height: auto;
	width: 55%;
	margin-top: 10px; 
}

#habitatge > div > p{
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 14pt;
	color: #fff;
	margin-bottom: 80px;	
}
#habitatge >.habica > p{
	margin-top: 82px;

}
#habitatge > .idea > p{
	margin-top: 100px;

}

/* ...................................................*/

#contacte > .contact-form{
	width: 100%;
	height: 600px;

}
#contacte > .contact-form > .contact{
	width: 50%;
	height: 100%;
	float: left;
	padding: 100px;	
	font-size: 14pt;

}
#contacte > .contact-form > .formu{
	width: 50%;
	height: 100%;
	float: left;
	padding: 100px 100px 100px 0px;	

}
.formu >.formi{
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 12pt;


}
.formu >.formi > #result{
	float: right;
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 12pt;
	color: #c19701;
	font-weight: bold;

}
.formu >.formi > div > input[type=text], .formu > .formi > div > input[type=email] {
	padding: 12px 20px;
	width: 92%;
	border: 2px solid #bebebe;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 0 20px 30px 0;
	font-size: 12pt;

}

#nom-error, #cog-error,  #mail-error{
	color: #FF7575;
	float: right;
	margin-right: 35px;
}
#mensaje-error{
	color: #FF7575;
	float: right;

}
.formu >.formi > div > input.error {

	margin-bottom: 8px;	
	padding: 12px 20px;
	border: 2px solid #bebebe;
	box-sizing: border-box;
	border-radius: 4px;

}
.formu >.formi > div > textarea.error {
	height: 50%;
	font-family: 'Open Sans', 'Sans Serif';
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #bebebe;
	border-radius: 4px;
	font-size: 12pt;
	resize: none;
	margin-bottom: 8px;	

}

.formu >.formi > #colm  {
	float: left;
	width: 50%;

}

.formu >.formi > #area  {
	float: left;
	width: 50%;
}

.formu >.formi >div> input[type=submit] , button {
	padding: 15px 50px;
	background-color: #c19701;
	color: #fff;	
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing:0.15em;

}

.formu >.formi > div > textarea {
	height: 50%;
	font-family: 'Open Sans', 'Sans Serif';
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #bebebe;
	border-radius: 4px;
	font-size: 12pt;
	resize: none;
	margin: 0 20px 30px 0;
}

#contacte > .contac-map{
	width: 100%;
	height: 500px;
}
#contacte > .contac-map > .nos-img > img{
	width: 50%;
	height: 100%;
	float: left;

}
#contacte > .contac-map > .map{
	width: 50%;
	height: 100%;
	float: right;

}
.formu >.formi > div > input[type=text]:focus , 
.formu > .formi >div > input[type=email]:focus,
.formu >.formi > div > textarea:focus {
	border: 2px solid #c19701;

}
/* ...................................................*/
footer{
	width: 100%;
	height: 180px;
}

footer > .url{
	width: 100%;
	height: auto;
	padding: 50px 95px 0 95px;
}

footer > .url >.toLe{
	width: 33.3333%;
	float: left;
	
}
footer > .url >.toLe > img{
	float: left;
	width: auto;
}
footer > .url >.toLe > .soci{
	height: 90px;
	padding-right: 60px;
	
}
footer > .url >.toLe > .logofoo{
	height: 70px;
	padding-top: 12px;
}


footer > .url >.cent{
	width: 33.3333%;
	float: left;
	text-align: center;
	
}
footer > .url >.cent > ul > li{
	display: inline-block;
	list-style-type: none;
	padding-top: 12px; 

}

footer > .url >.toRi{
	width: 33.3333%;
	float: right;
	
}
footer > .url >.toRi > .dere{
	float: right;
	display: inline-flex;
}
footer > .url >.toRi > .dere>.logos{
	padding-left: 5px;

}
footer > .url >.toRi > .dere>.per{
	padding-top: 28px;

	
}

footer > .url >.toRi >.dere> .logos > a >img{
	width: auto;
	height: 80px;
	padding-left: 60px;
	
}


/*-------------------------------*/
.fijo{
	position: relative;

}
#conditions{
	width: 100%;
	height: auto;
	background-color: #ebebeb;
	padding: 50px 100px 50px 100px;
	font-family: 'Open Sans', 'Sans Serif';
	font-size: 11.4pt;
	text-align: justify;
}
#conditions > .cont {
	width: 50%;
	height: auto;
	float: left;
	padding-right: 50px;
} 
#conditions > .cont2 {
	padding-left: 50px;
	} */